<!-- SOD-EOD Section -->
<div *ngIf="productService.sod_eod_component && yummyList.length > 0">
  <!--
    <app-product-availability-option></app-product-availability-option>
  -->

  <mat-checkbox
    *ngFor="let product of yummyList; let i = index"
    #cb="matCheckbox"
  [ngClass]="{ 'checked-bg': cb.checked }"
    (change)="productService.updateSelectedProducts($event, product, i, 'AddNewSodEod')"
  >
    {{ i + 1 }}. {{ product.productName }} - {{ product.productFlavor }}
<br>
    <img
      [src]="imageService.getImageUrl_nginx(product.productId)"
      style="max-width: 100px; margin-left: 10px;"
      alt="Product image"
      (error)="onImageError($event)"
    />
  </mat-checkbox>
</div>


<!-- New Stock Section -->
<div *ngIf="productService.newStock_component && yummyList.length > 0">
  <!-- 
  <app-product-availability-option></app-product-availability-option>
-->
  <h3>Wewewe Checkbox-option - Capture Checkbox - Add New Stock</h3>

  <mat-checkbox *ngFor="let product of yummyList; let i = index" 
                (change)="productService.updateSelectedProducts($event, product, i, 'AddNew')"> 
    {{ i + 1 }}. {{ product.productId }}
  </mat-checkbox>
 
    <mat-checkbox *ngFor="let product of yummyList; let i = index" 
                (change)="productService.updateSelectedProducts($event, product, i, 'AddNew')"> 
    {{ i + 1 }}. {{ product.productId }}
  </mat-checkbox>

 </div>


<div *ngIf="productService.sod_eod_component && !(yummyList.length >0)">
  
<iframe src="https://expose_images.justdo-it.uk/loader/truck%20off%20load.gif" 
width="50%" 
height="50%" 
frameborder="0"></iframe>

 </div>